#container {
    height: 100%;
}

#settingsIcon {
    position: fixed;
    right: 20px;
}

.mainBtn {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    color:white;
    height: 40px;
}

#settingsBtn {
    background-color: green;
}

#startBtn {
    margin-top: 50%;
    background-color: green;
}

#homeBtn {
    background-color: green;
}

#doneBtn {
    background-color: green;
}

#cancelBtn {
    background-color: orangered;
}

#closeIcon {
    right: 0px;
}

.hidden {
    display: none;
}

#countdownDiv {
    height: 100%;
    padding: 20px;
}

#cdHeader {
    font-size: 25px;
}

#cdTimer {
    font-size: 75px;
}

#cdText {
    font-size: 20px;
    color: "red";
}

li {
    display: inline-block;
    margin: 2px;
}